.about-content h1 {
  font-weight: 400;
  letter-spacing: 1px;
}
.about-content p {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 100;
  text-align: justify;
}
.about-content {
  padding: 0rem 10rem 0rem 10rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.reveal {
  overflow: hidden;
  display: inline-block;
}
#odometer {
  display: block;
  margin: 0;
  padding: 0 20px;
}
.text-reveal {
  position: relative;
  transform: translateY(50);
  display: inline-block;
}

.words {
  display: inline-block;
  vertical-align: bottom;
}
.text-blureffect span {
  opacity: 0;
  filter: blur(10px);
  display: inline-block;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.Gujarat {
  position: absolute;
  right: 10%;
  top: 25%;
  height: 200px;
}

.about-page2 {
  color: var(--bg-color);
  height: 100%;
  position: relative;
  border-radius: 99px 99px 0px 0px;
  padding: 5rem 0rem 0rem 5em;
  background-color: #050307;
}

.page2-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
}
.page2-content h1{
  font-weight: 400;
}
.page2-content p {
  width: 50%;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: justify;
}

.card-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding-bottom: 30px;
}

.ab-card {
  height: 200px;
  color: #050307;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.ab-card:nth-child(1) {
  background-color: var(--card1);
}
.ab-card:nth-child(2) {
  background-color: var(--card2);
}
.ab-card:nth-child(3) {
  background-color: var(--card3);
}
.ab-card:nth-child(4) {
  background-color: var(--card4);
}
.ab-card:nth-child(5) {
  background-color: var(--card5);
}
.ab-card:hover {
  transform: scale(1.05);
}


@media (max-width: 480px) {
  .about-content h1{
    font-size: 1.2rem;
  }
  .about-content p {
    font-size: 3vw;
    letter-spacing: 1px;
    font-weight: 100; 

  }
  .about-content {
    padding: 0rem 2rem 0rem 2rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .about-content-h1 {
    font-size: 4vw;
  }
  .page2-content p {
    font-size: 2.5vw;
    width: 95%;
  }
  .about-page2 {
    padding: 2rem 2rem 0rem 3em;
  }
  .Gujarat {
    /* right: 10%;
    bottom: 25%;
    height: 130px; */
    display: none;
  }
  .card-grid {
 
    gap: 40px;
  }
  .about-cards {
    display: flex;
    justify-content: center;
  }
.ab-card{
  height: 150px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
  .about-content p {
    font-size: 3.5vw;
    letter-spacing: 1px;
    font-weight: 100;
  }
  .about-content {
    padding: 0rem 3rem 0rem 3rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .about-content-h1 {
    font-size: 3vw;
  }
  .page2-content p {
    font-size: 2vw;
  }
  .about-page2 {
    padding: 2rem 2rem 0rem 3em;
  }
  .Gujarat {
    right: 5%;
    top: 10%;
    height: 130px;
  }
  .card-grid {
 
    gap: 40px;
  }
  .about-cards {
    display: flex;
    justify-content: center;
  }
.ab-card{
  height: 200px;
}
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about-content p {
    font-size: 3vw;
    letter-spacing: 1px;
    font-weight: 100;
  }
  .about-content {
    padding: 0rem 5rem 0rem 5rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .about-content-h1 {
    font-size: 4vw;
  }
  .page2-content p {
    font-size: 1.5vw;
  }
  .about-page2 {
    padding: 3rem 3rem 0rem 3em;
  }
  .Gujarat {
    right: 2%;
    top: 18%;
    height: 170px;
  }
  .card-grid {
    padding: 0px 30px 0px 0px;
}
.ab-card{
  height: 150px;
}

}