* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Saans, sans-serif;
  background-color: var(--bg-color);
}

@font-face {
  font-family: "Saans";
  src: url(../text/Saans-Medium.woff2);
}

:root {
  --bg-color: #faf8f3;
  --green: #3be898;
  --purple: #C699FF;
  --blue: #81bcf9;
  --red: #ff8856;
  --black: #141414;
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}

/* CSS */
.hidden {
  display: none;
}


.page-1 {
  height: 100vh;
  background-image: linear-gradient(125deg,
      hsl(43deg 41% 97%) 28%,
      hsl(24deg 100% 90%) 64%,
      hsl(5deg 100% 87%) 77%,
      hsl(334deg 100% 83%) 85%,
      hsl(288deg 77% 77%) 91%,
      hsl(255deg 100% 81%) 94%,
      hsl(235deg 100% 82%) 97%,
      hsl(222deg 100% 79%) 99%,
      hsl(215deg 98% 76%) 100%,
      hsl(218deg 94% 78%) 101%,
      hsl(268deg 74% 79%) 101%,
      hsl(324deg 86% 76%) 101%,
      hsl(351deg 100% 75%) 101%,
      hsl(18deg 100% 67%) 100%);
  border-radius: 0px 0px 60px 60px;
}

.page-3 {
  height: 100%;
  position: sticky;
}

.page-2 {
  height: auto;
  position: relative;
}

.nav {
  position: fixed;
  z-index: 1001;
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  background-color: #ffffff;
  border-radius: 0px 0px 25px 25px;

}

.hamburger-menu {
  display: none;
}

.nav-logo {
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  height: 100%;
  width: 100%;
}

.inside-nav {
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.btn {
  background: transparent;
  border: 1px solid #141414;
  outline: none;
  padding: 12px 20px;
  height: 50px;
  border-radius: 100px;
  overflow: hidden;
  transform: scaleX(1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  animation: animate-scaleX 0.6s cubic-bezier(0.4, 0, 0, 1);
  background: transparent;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 0 0;
  transform: translateY(100%);
}

.btn:hover::after {
  transform: translateY(0%);
  border-radius: 0;
}

.btn span {
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  color: black;
}

.btn span:after {
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
  content: attr(data-text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  color: white;
}

.btn:hover span:after {
  transform: translate(-50%, 0);
}

.btn:focus {
  outline: none;
}

@keyframes animate-scaleX {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.05);
  }

  100% {
    transform: scaleX(1);
  }
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  position: relative;
}


.intro h1 {
  font-weight: 100;
}

.intro>.btn {
  width: 20%;
}

.first-line {
  width: 100vw;
  display: flex;
  align-items: center;
}

.para-item {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.word {
  display: none;
  opacity: 0;
  border-radius: 999px;
  transform: scale(0.8);
  padding: 0rem .5rem 0rem .5rem;
}

.word-1 {
  background-color: var(--purple);
}

.word-2 {
  background-color: var(--red);
}

.word-3 {
  background-color: var(--blue);
}

.word.show {
  font-size: 1.1rem;
  display: inline;
  opacity: 1;
  transform: scale(1);
}

.border {
  border-radius: 60px;
  border-top: 2px solid #141414;
}

.expand {
  height: 100%;
  width: 100%;
}

.ex-child {
  height: 20vh;
  max-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.ex-child:hover {
  height: 30vh;
}

.ex-child.expanded {
  height: 120vh;
}

.child-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 2rem 5rem 0rem 5rem;
}

.child-page {
  overflow: auto;
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100%;
  font-size: 1rem;
  padding: 0rem 5rem;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 2;
  color: rgb(0, 0, 0);
}

.child-page h3 {
  border-top: 2px solid #000000;
  padding: 2rem;
  z-index: 3;
  position: relative;
}

.ex-child.expanded .child-page {
  opacity: 1;
}

.plus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #141414;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.ex-child:nth-child(1):hover {
  background-color: var(--red);
}

.ex-child:nth-child(2):hover {
  background-color: var(--blue);
}

.ex-child:nth-child(3):hover {
  background-color: var(--green);
}

.ex-child:nth-child(4):hover {
  background-color: var(--purple);
}

.ex-child.expanded .plus-btn {
  transform: rotate(45deg);
}

.child-page .btn {
  width: 30%;
}

.unorderlist {
  font-size: 1.1rem;

  padding: 0rem 5rem 2rem 5rem;
}

.sub-unorder {
  mix-blend-mode: difference;
  padding: 1rem 7rem;
}

.unorderlist {
  list-style-type: disc;
  padding: 0;
  margin: 0;
}

.unorderlist li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.unorderlist li strong {
  display: block;
  margin-bottom: 5px;
}

.fixed-image {
  z-index: 0;
  width: 100px;
  height: auto;
  border-radius: 25px;
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.child-page {
  transition: height 0.3s ease;
}


footer {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(35deg,
      hsl(43deg 41% 97%) 28%,
      hsl(24deg 100% 90%) 64%,
      hsl(5deg 100% 87%) 77%,
      hsl(334deg 100% 83%) 85%,
      hsl(288deg 77% 77%) 91%,
      hsl(255deg 100% 81%) 94%,
      hsl(235deg 100% 82%) 97%,
      hsl(222deg 100% 79%) 99%,
      hsl(215deg 98% 76%) 100%,
      hsl(218deg 94% 78%) 101%,
      hsl(268deg 74% 79%) 101%,
      hsl(324deg 86% 76%) 101%,
      hsl(351deg 100% 75%) 101%,
      hsl(18deg 100% 67%) 100%);
  gap: 2rem;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  flex-direction: column;
  position: absolute;
}

.footer-animation {
  font-size: 5rem;

  letter-spacing: 2px;
}

.footer-text {
  font-size: 1.5rem;
  color: var(--black);

}

.footer-content {
  height: 100%;
  width: 100%;
  border-top: solid 2px var(--black);
  z-index: 13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-4 {
  position: relative;
  height: 100vh;
}

.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  z-index: 12;
}

.page-3 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.nav-item {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  position: relative;
  transform: translateY(0%);
}

.reveal {
  overflow: hidden;
}

.ex-child {
  transition: height 0.3s ease;
  z-index: 1;
}

.ex-child.expanded {
  z-index: 0;
}

.page-3 {
  position: relative;
  z-index: 0;
}

.expand {
  max-height: 100%;
}

.ex-child {
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.ex-child.expanded {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #fff;

}

.child-page {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.expanded .child-page {
  opacity: 1;
}

.ex-child:last-child {
  pointer-events: none;
  cursor: default;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  z-index: 12;
}

.footer-social-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--black);
}

.footer-social-item a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social-item a:hover {
  color: #555;
}

.footer-social-item i {
  font-size: 1.2rem;
}

.footer-social-item:last-child {
  display: flex;
  gap: 1rem;
}

.footer-social-item:last-child a {
  font-size: 1.5rem;
}


.inffy-data {
  z-index: 12;
}

.mobile-nav {
  display: none;
}
.work-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-center h1 {
  position: absolute;
}
.work-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40%;
  position: absolute;
  border-radius: 25px;
  flex-direction: column;
  gap: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-header {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #3700eb;
  text-decoration-style: wavy;
}
.work-text {
  padding: 1rem;
  text-align: center;
  color: #000000;
}


.work_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.work_title {
  font-size: 10rem;
  color: var(--black);

}

.work-card-container {
  position: absolute;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.work_card {
gap: 15%;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
  z-index: 5;
  flex-direction: column;
}

.work_card:nth-child(1){
  background-color: var(--blue);
  z-index: 4;
  transform:rotate(-50deg);
  }
.work_card:nth-child(2){
  background-color: var(--green);
  transform:rotate(-40deg);
z-index: 3;
}
.work_card:nth-child(3){
  background-color: var(--red);
  transform:rotate(-30deg);
  z-index: 2;
}
.work_card:nth-child(4){
  background-color: var(--purple);
  transform:rotate(-20deg);
  z-index: 1;
}
.page-3{
  overflow: hidden;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
/* mobile responsive  */
/* 
@media (max-width: 480px) {
  .inside-nav {
    display: none;
  }

  .nav {
    padding: 0 10%;
    background-color: transparent;
    border-radius: 0;
    backdrop-filter: blur(0px);
    width: 100%;
    align-items: baseline;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: -2rem;
    right: -1rem;
    z-index: 3;
    cursor: pointer;

  }

  .blur-background {
    filter: blur(5px);

  }


  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }

  /* 
  .hamburger-menu.fullscreen-active {
    transform: scale(1); 
    transition: all 0.5s ease;
  } */
/* .svg-ham {
    z-index: 102;
    position: fixed;
    top: 3%;
    right: 5%;
    transition: transform 0.4s ease;
    z-index: 4;
    background-color: #dadada;
    border-radius: 10px;
    width: 35px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    font-family: Saans, sans-serif;
    align-items: center;
    height: 100%;
    background-color: var(--black);
  }

  .mobile-nav.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
    padding: 1rem 0;
    width: 70vw;
    border-radius: 25px;
  }

  .mobile-nav a {
    color: var(--bg-color);
    font-size: 5vw;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .mobile-nav a:hover {
    color: var(--bg-color);
  }

  .intro {
    font-size: 0.6rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }

  .intro>.btn {
    width: 35%;
  }

  .word {

    padding: 0rem 0.5rem 0rem 0.5rem;
  }

  .word.show {
    font-size: 1rem;
    padding: 0 5%;
  }

  .child-page {
    font-size: 0.8rem;
  }

  .child-content {
    font-size: 0.8rem;
    padding: 1rem 3rem 0rem 3rem;
  }

  .child-page h3 {
    padding: 1rem;
  }

  .unorderlist {
    font-size: 0.7rem;
  }

  .footer-animation {
    font-size: 2rem;
  }

  .footer-socials {
    margin-top: 1rem;
  }

  .work-info {
    width: 28%;
    height: 20%;
    font-size: 0.6rem;
    top: 40%;
  }

  .work-text {
    padding: 0.8rem;
  }

  .work-center h1 {
    font-size: 1rem;
  }

  .footer-social-item {
    font-size: 0.6rem;
    text-align: center;
  }

  .ex-child {
    height: 15vh;
  }

  .ex-child:hover {}

  .btn span {
    font-size: 0.7rem;
  }

  .plus-btn {
    height: 45px;
    width: 45px;
  }

  .child-page {
    top: 15vh;
  }

  .svg-line {
    width: 75%;
    height: 75%;
  }

  .first-line {
    display: inline;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .inside-nav {
    display: none;
  }

  .nav {
    padding: 0 10%;
    background-color: transparent;
    border-radius: 0;
    backdrop-filter: blur(0px);
    width: 100%;
    align-items: baseline;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: -2rem;
    right: -1rem;
    z-index: 3;
    cursor: pointer;

  }

  .blur-background {
    filter: blur(5px);
  }

  .hamburger-menu.fullscreen { */


/* Start hidden with scale 0 */
/* }

  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  } */

/* 
    .hamburger-menu.fullscreen-active {
      transform: scale(1); 
      transition: all 0.5s ease;
    } */
/* .svg-ham {
    z-index: 102;
    position: fixed;
    top: 3%;
    right: 5%;
    transition: transform 0.4s ease;
    z-index: 4;
    background-color: #dadada;
    border-radius: 10px;
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    font-family: Saans, sans-serif;
    align-items: center;

    height: 100%;
    background-color: var(--black);
  }

  .mobile-nav.active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
    padding: 1rem 0;
    width: 50vw;
    border-radius: 25px;
    right: 20px !important;
    /* top: 5px !important; */
/* }

  .mobile-nav a {
    color: var(--bg-color);
    font-size: 3vw;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .mobile-nav a:hover {
    color: var(--bg-color);
  }

  .intro {
    font-size: 0.5rem;
    line-height: 2rem;
  }

  .word {
    padding: 0rem 1rem 0rem 1rem;
  }

  .word.show {
    font-size: 1rem;
  }

  .child-page {
    font-size: 0.8rem;
  }

  .child-content {
    font-size: 0.8rem;
    padding: 1rem 3rem 0rem 3rem;
  }

  .child-page h3 {
    padding: 1rem;
  }

  .unorderlist {
    font-size: 0.7rem;
  }

  .footer-animation {
    font-size: 2.5rem;
  }

  .footer-socials {
    margin-top: 1rem;
  }

  .work-info {
    width: 25%;
    height: 30%;
    font-size: 0.8rem;
  }

  .work-text {
    padding: 0.8rem;
  }

  .work-center h1 {
    font-size: 1rem;
  }

  .footer-social-item {
    font-size: 0.5rem;
  }

  .btn span {
    font-size: 0.7rem;
  }

  .plus-btn {
    height: 45px;
    width: 45px;
  }

  .child-page {
    top: 15vh;
  }

  .svg-line {
    width: 75%;
    height: 75%;
  }
} */



/* @media (min-width: 769px) and (max-width: 1024px) {

  .prnt-intro {
    height: 100%;
    flex-direction: column;
  }

  .tile-cr {
    position: relative;
    height: 40%;
    width: 100%;
  }

  .slider {
    position: absolute;
  }

  .slider .list .item {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 10%;
    animation: autoRun 50s linear infinite;
    transition: filter 0.5s;
    transition: ease-in-out .3s;
    animation-delay: calc((50s / var(--quantity)) * (var(--position) - 1) - 50s) !important;
  }

  .slider .list {
    position: unset;
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }

    to {
      left: calc(var(--height) * -1);
    }
  }

  .inside-nav {
    display: none;
  }

  .nav {
    padding: 0 10%;
    background-color: transparent;
    border-radius: 0;
    backdrop-filter: blur(0px);
    width: 100%;
    align-items: baseline;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: -2rem;
    right: -1rem;
    z-index: 3;
    cursor: pointer;

  }

  .blur-background {
    filter: blur(5px);
  }

  .hamburger-menu.fullscreen { */
/* Start hidden with scale 0 */
/* }

  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  } */

/* 
    .hamburger-menu.fullscreen-active {
      transform: scale(1); 
      transition: all 0.5s ease;
    } */
/* .svg-ham {
    z-index: 102;
    position: fixed;
    top: 3%;
    right: 5%;
    transition: transform 0.4s ease;
    z-index: 4;
    background-color: #dadada;
    border-radius: 10px;
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    font-family: Saans, sans-serif;
    align-items: center;
    color: #000000;
    height: 100%;
    background-color: var(--black);
  }

  .mobile-nav.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem 0;
    width: 50vw;
    border-radius: 25px;
  }

  .mobile-nav a {
    color: var(--bg-color);
    font-size: 3vw;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .mobile-nav a:hover {
    color: var(--bg-color);
  }

  .intro {
    height: 60%;
    width: 75%;
    font-size: 0.8rem;
    line-height: 3rem;
  }

  .word {
    padding: 0rem 1rem 0rem 1rem;
  }

  .word.show {
    font-size: 1rem;
  }

  .child-page {
    font-size: 0.8rem;
  }

  .child-content {
    font-size: 0.8rem;
    padding: 1rem 3rem 0rem 3rem;
  }

  .child-page h3 {
    padding: 1rem;
  }

  .unorderlist {
    font-size: 0.7rem;
  }

  .footer-animation {
    font-size: 4rem;
  }

  .footer-socials {
    margin-top: 1rem;
  }

  .work-info {
    width: 25%;
  }

  .work-text {
    padding: 0.8rem;
  }

  .work-center h1 {
    font-size: 1.2rem;
  }

  .footer-social-item {
    font-size: 0.8rem;
  }


}

.btnformob {
  color: var(--black);
  background-color: var(--bg-color);
  border-radius: 25px;
  width: 50%;
  padding: 1rem;
  text-align: center;
} */


.intro {
  font-size: 0.8rem;
  line-height: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding-left: 1%;

  height: 100%;
  width: 55%;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.prnt-intro {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: end;
  align-items: center;
  overflow: hidden;
}

.tile-cr {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

}

.tile-img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to bottom,
      transparent,
      #000 10% 80%,
      transparent);

}

.slider .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: calc(var(--height) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: 85%;
  height: var(--height);
  position: absolute;
  top: 100%;
  animation: autoRun 50s linear infinite;
  transition: filter 0.5s;
  transition: ease-in-out .3s;
  animation-delay: calc((50s / var(--quantity)) * (var(--position) - 1) - 50s) !important;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;

}

@keyframes autoRun {
  from {
    top: 100%;
  }

  to {
    top: calc(var(--height) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.slider[reverse="true"] .item {
  animation: reversePlay 50s linear infinite;
}

@keyframes reversePlay {
  from {
    top: calc(var(--height) * -1);
  }

  to {
    top: 100%;
  }
}





/* responsivenessssssssss */

@media (max-width: 480px) {
  .page-1 {
    height: 120vh;
  }

  .prnt-intro {
    height: 100%;
    flex-direction: column;
  }

  .tile-cr {
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .slider {
    position: relative;
    mask-image: linear-gradient(to left,
        transparent,
        #000 15% 85%,
        transparent);
  }

  .slider .list .item {
    width: 35%;
    height: 70%;
    position: absolute;
    top: 10%;
    animation: autoRun 50s linear infinite;
    transition: filter 0.5s;
    transition: ease-in-out .3s;
    animation-delay: calc((50s / var(--quantity)) * (var(--position) - 1) - 50s) !important;
  }

  .slider .list {
    position: unset;
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }

    to {
      left: calc(var(--height) * -1);
    }
  }

  .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }

  .slider .item:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }

  .slider[reverse="true"] .item {
    animation: reversePlay 50s linear infinite;
  }

  @keyframes reversePlay {
    from {
      left: calc(var(--height) * -1);
    }

    to {
      left: 100%;
    }
  }

  .inside-nav {
    display: none;
  }

  .nav {
    padding: 3% 10%;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    align-items: baseline;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 1%;
    right: 2%;
    z-index: 3;
    cursor: pointer;
  }

  .blur-background {
    filter: blur(5px);
  }


  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }

  /* 
    .hamburger-menu.fullscreen-active {
      transform: scale(1); 
      transition: all 0.5s ease;
    } */
  .svg-ham {
    z-index: 102;
    position: fixed;
    top: 2%;
    right: 5%;
    transition: transform 0.4s ease;
    z-index: 4;
    background-color: #dadada;
    border-radius: 10px;
    width: 35px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    font-family: Saans, sans-serif;
    align-items: center;
    height: 100%;
    background-color: var(--black);
  }

  .mobile-nav.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 1rem 0;
    width: 70vw;
    border-radius: 25px;
  }

  .mobile-nav a {
    color: var(--bg-color);
    font-size: 5vw;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .mobile-nav a:hover {
    color: var(--bg-color);
  }

  .intro {
    height: 60%;
    width: 90%;
    font-size: 0.4rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }

  .intro>.btn {
    width: 25%;
    height: 8%;
    padding: 0;
  }

  .word {

    padding: 0rem 0.5rem 0rem 0.5rem;
  }

  .word.show {
    font-size: 0.7rem;
    padding: 0 5%;
  }

  .child-page {
    font-size: 0.8rem;
  }

  .child-content {
    font-size: 0.8rem;
    padding: 1rem 3rem 0rem 3rem;
  }

  .child-page h3 {
    padding: 1rem;
  }

  .unorderlist {
    font-size: 0.7rem;
  }

  .footer-animation {
    font-size: 1.5rem;
  }

  .footer-socials {
    margin-top: 1rem;
  }

  .work-info {
    width: 28%;
    height: 20%;
    font-size: 0.6rem;
    top: 40%;
  }

  .work-text {
    padding: 0.8rem;
  }

  .work-center h1 {
    font-size: 1rem;
  }

  .footer-social-item {
    font-size: 0.6rem;
    text-align: center;
  }

  .ex-child {
    height: 15vh;
  }

  .btn span {
    font-size: 0.7rem;
  }

  .plus-btn {
    height: 45px;
    width: 45px;
  }

  .child-page {
    top: 15vh;
  }

  .svg-line {
    width: 75%;
    height: 75%;
  }

  .first-line {
    display: inline;
  }
  .work_title {
    font-size: 3rem;
  }
  .work-card-container {
    width: 135px;
    height: 225px;
  }
  .work-text h4 {
    font-size: 0.8rem;
    text-align: center;
  }
  .work-header {
    font-size: 1rem;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .page-1 {
    height: 150vh;
  }

  .prnt-intro {
    height: 100%;
    flex-direction: column;
  }

  .tile-cr {
    position: relative;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .slider {
    position: relative;
    mask-image: linear-gradient(to left,
        transparent,
        #000 15% 85%,
        transparent);
  }

  .slider .list .item {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 10%;
    animation: autoRun 50s linear infinite;
    transition: filter 0.5s;
    transition: ease-in-out .3s;
    animation-delay: calc((50s / var(--quantity)) * (var(--position) - 1) - 50s) !important;
  }

  .slider .list {
    position: unset;
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }

    to {
      left: calc(var(--height) * -1);
    }
  }

  .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }

  .slider .item:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }

  .slider[reverse="true"] .item {
    animation: reversePlay 50s linear infinite;
  }

  @keyframes reversePlay {
    from {
      left: calc(var(--height) * -1);
    }

    to {
      left: 100%;
    }
  }

  .inside-nav {
    display: none;
  }

  .nav {
    padding: 3% 10%;
    background-color: transparent;
    border-radius: 0;
    backdrop-filter: blur(0px);
    width: 100%;
    align-items: baseline;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    cursor: pointer;

  }

  .blur-background {
    filter: blur(5px);
  }

  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }

  .svg-ham {
    z-index: 102;
    position: fixed;
    top: 30%;
    right: 5%;
    transition: transform 0.4s ease;
    z-index: 4;
    background-color: #dadada;
    border-radius: 10px;
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    font-family: Saans, sans-serif;
    align-items: center;

    height: 100%;
    background-color: var(--black);
  }

  .mobile-nav.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem 0;
    width: 50vw;
    border-radius: 25px;
  }

  .mobile-nav a {
    color: var(--bg-color);
    font-size: 3vw;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .mobile-nav a:hover {
    color: var(--bg-color);
  }

  .intro {
    height: 60%;
    width: 75%;
    font-size: 0.5rem;
    line-height: 2rem;
  }

  .intro h1 {
    width: 100vw;
  }

  .word {
    padding: 0rem 1rem 0rem 1rem;
  }

  .word.show {
    font-size: 0.8rem;
  }

  .child-page {
    font-size: 0.8rem;
  }

  .child-content {
    font-size: 0.8rem;
    padding: 1rem 3rem 0rem 3rem;
  }

  .child-page h3 {
    padding: 1rem;
  }

  .unorderlist {
    font-size: 0.7rem;
  }

  .footer-animation {
    font-size: 2.5rem;
  }

  .footer-socials {
    margin-top: 1rem;
  }

  .work-info {
    width: 25%;
    height: 30%;
    font-size: 0.8rem;
  }

  .work-text {
    padding: 0.8rem;
  }

  .work-center h1 {
    font-size: 1rem;
  }

  .footer-social-item {
    font-size: 0.5rem;
  }

  .btn span {
    font-size: 0.7rem;
  }

  .plus-btn {
    height: 45px;
    width: 45px;
  }

  .child-page {
    top: 15vh;
  }

  .svg-line {
    width: 75%;
    height: 75%;
  }

  .btn {
    padding: 1px 1px;
  }

  .work_title {
    font-size: 4rem;
  }

  .work-card-container {
    width: 150px;
    height: 250px;
  }

  .work-text h4 {
    font-size: 1rem;
    text-align: center;
  }

  .work-header {
    font-size: 1.2rem;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {

  .work_title {
    font-size: 6rem;
  }

  .work-card-container {
    width: 175px;
    height: 275px;
  }

  .work-text h4 {
    font-size: 1rem;
    text-align: center;
  }

  .work-header {
    font-size: 1.2rem;
  }

  .page-1 {
    height: 150vh;
  }

  .prnt-intro {
    height: 100%;
    flex-direction: column;
  }

  .tile-cr {
    position: relative;
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .slider {
    position: relative;
    mask-image: linear-gradient(to left,
        transparent,
        #000 15% 85%,
        transparent);
  }

  .slider .list .item {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 10%;
    animation: autoRun 50s linear infinite;
    transition: filter 0.5s;
    transition: ease-in-out .3s;
    animation-delay: calc((50s / var(--quantity)) * (var(--position) - 1) - 50s) !important;
  }

  .slider .list {
    position: unset;
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }

    to {
      left: calc(var(--height) * -1);
    }
  }

  .slider:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }

  .slider .item:hover {
    filter: grayscale(0);
    transform: scale(1.05);
  }

  .slider[reverse="true"] .item {
    animation: reversePlay 50s linear infinite;
  }

  @keyframes reversePlay {
    from {
      left: calc(var(--height) * -1);
    }

    to {
      left: 100%;
    }
  }

  .inside-nav {
    display: none;
  }

  .nav {
    padding: 3% 10%;
    background-color: transparent;
    border-radius: 0;
    backdrop-filter: blur(0px);
    width: 100%;
    align-items: baseline;
  }

  .hamburger-menu {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    cursor: pointer;

  }

  .blur-background {
    filter: blur(5px);
  }

  .blur {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }

  /* 
      .hamburger-menu.fullscreen-active {
        transform: scale(1); 
        transition: all 0.5s ease;
      } */
  .svg-ham {
    z-index: 102;
    position: fixed;
    top: 25%;
    right: 5%;
    transition: transform 0.4s ease;
    z-index: 4;
    background-color: #dadada;
    border-radius: 10px;
    width: 40px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    font-family: Saans, sans-serif;
    align-items: center;

    height: 100%;
    background-color: var(--black);
  }

  .mobile-nav.active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem 0;
    width: 50vw;
    border-radius: 25px;
  }

  .mobile-nav a {
    color: var(--bg-color);
    font-size: 3vw;
    padding: 0.8rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .mobile-nav a:hover {
    color: var(--bg-color);
  }

  .intro {
    height: 60%;
    width: 75%;
    font-size: 0.6rem;
    line-height: 3rem;
  }

  .word {
    padding: 0rem 1rem 0rem 1rem;
  }

  .word.show {
    font-size: 0.9rem;
  }

  .child-page {
    font-size: 0.8rem;
  }

  .child-content {
    font-size: 0.8rem;
    padding: 1rem 3rem 0rem 3rem;
  }

  .child-page h3 {
    padding: 1rem;
  }

  .unorderlist {
    font-size: 0.7rem;
  }

  .footer-animation {
    font-size: 4rem;
  }

  .footer-socials {
    margin-top: 1rem;
  }

  .work-info {
    width: 25%;
  }

  .work-text {
    padding: 0.8rem;
  }

  .work-center h1 {
    font-size: 1.2rem;
  }

  .footer-social-item {
    font-size: 0.8rem;
  }

  .btn {
    padding: 1px 1px;
  }


}

.btnformob {
  color: var(--black);
  background-color: var(--bg-color);
  border-radius: 25px;
  width: 50%;
  padding: 1rem;
  text-align: center;
}



