/* General Styling */
.options-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 12%;
  padding-bottom: 10%;
  width: 100%; /* Ensure container width covers full screen */
}

.option-card-prnt {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
  height: auto;
  width: 100%; /* Ensures the cards inside are aligned properly */
}

.option-h1 {
  font-size: 3rem;
  text-align: center;
}

.option-footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid black;
}

.option-card {
  width: 100%;
  max-width: 300px; /* Maximum width to maintain card size */
  height: auto;
  background-color: #fefefe;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.card__hero {
  background-color: #fef4e2;
  padding: 1.5rem;
  text-align: center;
}

.card__hero .card__job-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #141417;
}


.card__job-summary {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #141417;
}

.option-card p {
  margin: 0;
  font-size: 0.875rem;
  color: #555;
}

.option-image {
  height: 180px;
  padding: 0.8rem;
  border-radius: 25px;
  object-fit: cover;
}

/* Mobile Styling (Small Screens) */
@media (max-width: 600px) {
  .options-container {
    flex-direction: column;
    padding-top: 12vh;
    padding-bottom: 10%;
  }
  .option-h1{
    font-size: 2rem;
  }

  .option-card-prnt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  /* .option-card {
    width: 80%;
    max-width: 100%; 
    margin-bottom: 20px;
  } */
}

/* Tablet Styling (Medium Screens) */
@media (min-width: 601px) and (max-width: 899px) {
  .options-container {
    padding-top: 10vh;
    padding-bottom: 10%;
  }

  .option-card-prnt {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .option-card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

/* Desktop Styling (Large Screens) */
@media (min-width: 900px) {
  .option-card-prnt {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .option-card {
    width: calc(25% - 20px); /* Four cards per row */
  }
}
