/* Products container with full height and width */
.products-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 15vh;
  gap: 2rem;
  padding-bottom: 10%;
}

/* Products grid */
.products-prnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Product card styling */
.product-card {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
}

/* Hero section for product card */
.card__hero {
  background-color: #fef4e2;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  height: 80%;
  border-radius: 0.5rem;
}

.card__hero .card__job-title {
  color: #141417;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}

.card__image{
  width: 100%;
}

/* Footer section for product card */
.card__footer {
  background-color: #fff;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  position: relative;
}

/* Button styling */
.card__btn {
  background-color: #141417;
  border: none;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.25rem;
  text-align: center;
  width: 100%;
  width: max-content;
}

/* Sidebar styling */
.sidebar {
  min-width: 20vw;
  padding: 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  min-height: 100vh;
  left: 0;
}

.sidebar h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Category and subcategory styling */
.category, .subcategory {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.category:hover, .subcategory:hover {
  background-color: #e0e0e0;
}

.category.active, .subcategory.active {
  font-weight: bold;
  color: #007bff;
  background-color: #d0d0d0;
}

.arrow-icon {
  margin-left: 10px;
}

/* Sidebar for responsive design */
@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    background-color: #f9f9f9;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
